.WeatherForecast .WeatherForecast-content {
  text-align: center;
  margin: 15px 10px 17px 0;
  padding: 16px;
  border: 2px solid black;
  border-radius: 10px;
  background: transparent;
}

.WeatherForecast .WeatherForecast-temperature {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.WeatherForecast .WeatherForecast-day {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
